.card-deck .card {
    /* remove padding from cards */
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 1rem !important;
}

.card-row {
    /* margin-bottom: 0.5rem;  */
}

.card-col {
    margin-bottom: 1rem;
}

