{% extends "bootstrap/base.html" %}
{% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{{bootstrap_find_resource('fonts/fontawesome-free/css/all.css', cdn='local')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{bootstrap_find_resource('theme/adminlte/css/adminlte.css', cdn='local')}}">
    <!-- Application style -->
    <link rel="stylesheet" href="{{bootstrap_find_resource('css/style.css', cdn='local')}}">
{% endblock styles %}
{% block body_attribs %} class="hold-transition sidebar-mini" id="top"{% endblock body_attribs %}
{% block content -%}
  <!-- Begin of Page Content -->
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button">
            <i class="fas fa-bars"></i>
          </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a class="nav-link" href="#">{{ title }}</a>
        </li>
      </ul>
    </nav>

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="{{ url_for('stream.stream')}}" class="brand-link">
        <img src="{{url_for('static', filename='img/Camera.png')}}" alt="AdminLTE Logo"	class="brand-image" style="opacity: .8">
        <span class="brand-text font-weight-light">Pi Camera</span>
      </a>
      <!-- Sidebar -->
      <nav class="mt-2">
        {% filter indent(width=8, first=false) -%}
        {{nav.sidebar.render(renderer='sidebar')}}
        {%- endfilter %}
      </nav>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <main role="main" class="content-wrapper">
      {%- for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {%- endfor %}
      
      <!-- Content (Page) Header -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              {% if title %}<h1 class="m-0 text-dark">{{ title }}</h1>{% endif %}
            </div>
          </div>
        </div>
      </section>

      <!-- Main Content -->
      <section class="content">
        <div class="container-fluid">
          {% filter indent(width=10, first=false) -%}
          {% block page_content %}
          {% endblock %}
          {% endfilter %}
        </div>
      </section>
    </main>

    <!-- Main Footer -->
    <footer class="main-footer">
      <div class="d-none d-sm-inline">Copyright &copy; 2020, Christian Dolzer</div>
    </footer>
  </div>
{%- endblock content %}
{%- block scripts %}
  <!-- jQuery, must be first-->
  <!--<script src="{{bootstrap_find_resource('plugins/jquery/jquery.js', cdn='jquery')}}"></script>-->
  <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
  <!-- Popper will go here -->
  <script src="{{bootstrap_find_resource('plugins/popper/umd/popper.js', cdn='local')}}"></script>
  <!-- Bootstrap 4 -->
  <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
  <!-- Bootstrap Switch -->
  <script src="{{bootstrap_find_resource('plugins/bootstrap-switch/js/bootstrap-switch.js', cdn='local')}}"></script>
  <!-- AdminLTE App -->
  <script src="{{bootstrap_find_resource('theme/adminlte/js/adminlte.js', cdn='local')}}"></script>
{% endblock scripts -%}
