{% extends "base.html" %}
{% block page_content %}
<div class="card-deck">
  <!-- Generell Info -->
  <div class="card card-primary card-outline mb-4">
    <div class="card-header">
      <h5 class="card-title">Generelle Info</h5>
    </div>
    <div class="card-body">      
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-truncate">Gerät</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{ sys_info['device']['model'] }}</span>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-truncate">Serien #</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{ sys_info['device']['serial'] }}</span>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-truncate">Revision</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{ sys_info['device']['revision'] }}</span>
        </div>
      </div>      
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-truncate">Hardware</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{ sys_info['device']['hwid'] }}</span>
        </div>
      </div>  
    </div>
  </div>

  <!-- CPU Info -->
  <div class="card card-primary card-outline mb-4">
    <div class="card-header">
      <h5 class="card-title">CPU</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-truncate">CPU(s)</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{sys_info['cpu']['num']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-truncate">min. Freq.</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{sys_info['cpu']['min_freq']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-truncate">max. Freq</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{sys_info['cpu']['max_freq']}}</span>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-truncate">Temperatur</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span id="cpu-temp" class="d-inline-block text-truncate text-secondary">{{"%s°C"|format(sys_info['cpu']['temp'])}}</span>
        </div>
      </div>
      <div class="row">
        <div class="progress-group my-3 w-100">
          CPU Auslastung
          <span id="cpu-progress-bar-label" class="float-right">{{"%d/100%%"|format(sys_info['cpu']['load'])}}</span>
          <div class="progress progress-sm">
            <div id="cpu-progress-bar" class="progress-bar bg-info" style="width: {{sys_info['cpu']['load']}}%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 d-none d-sm-block">
    <!-- wrap every 2 on sm-->
  </div>
  
  <!-- RAM -->
  <div class="card card-primary card-outline mb-4">
    <div class="card-header">
      <h5 class="card-title">RAM</h5>
    </div>
    <div class="card-body char-container">
      <div class="row">
        <div class="progress-group my-3 w-100">
          in Verwendung
          <span id="ram-progress-bar-label" class="float-right">{{"%d/100%%"|format(sys_info['mem']['perc'])}}</span>
          <div class="progress progress-sm">
            <div id="ram-progress-bar" class="progress-bar bg-info" style="width: {{sys_info['mem']['perc']}}%"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-nowrap">Gesamt</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{"%d MB" % (sys_info['mem']['total'])}}</span>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-nowrap">Frei</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{"%d MB" % (sys_info['mem']['free'])}}</span>
        </div>
      </div>

    </div>
  </div>

  <!-- File System -->
  <div class="card card-primary card-outline mb-4">
    <div class="card-header">
      <h5 class="card-title">Dateisystem</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="progress-group my-3 w-100">
          Speicherplatz
          <span class="float-right">{{"%d/100%%"|format(sys_info['disk']['perc'])}}</span>
          <div class="progress progress-sm">
            <div class="progress-bar bg-info" style="width: {{sys_info['disk']['perc']}}%"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-nowrap">Gesamt</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{"%d MB" % (sys_info['disk']['total'])}}</span>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-nowrap">Belegt</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{"%d MB" % (sys_info['disk']['used'])}}</span>
        </div>
      </div>
      <div class="row">
        <div class="w-40" style="min-width: 25%">
          <span class="text-nowrap">Frei</span>
        </div>
        <div class="w-60 d-flex justify-content-end justify-content-lg-start">
          <span class="d-inline-block text-truncate text-secondary">{{"%d MB" % (sys_info['disk']['free'])}}</span>
        </div>
      </div>

    </div>
  </div>
  <!-- Card Deck -->
</div>
{% endblock page_content %}
{% block scripts -%}
  {{ super() }}
  <!-- Bootstrap Progressbar helper-->
  <script>
    var timer, delay = 1000;

    $(document).ready(function () {
      timer = setInterval(function () {
        $.getJSON('/get-device-info', function (data) {
            // update CPU Progressbar
            $('#cpu-progress-bar-label').text(data.cpu.load + "/100%");
            $('#cpu-progress-bar').css("width", data.cpu.load + "%");
            $('#cpu-temp').text(data.cpu.temp + "°C");

            // update Memory Progressbar
            $('#ram-progress-bar-label').text(data.mem.perc + "/100%");
            $('#ram-progress-bar').css("width", data.mem.perc + "%");

        });
      }, delay);
    });
  </script>
{%- endblock scripts %}
