{% extends "base.html" %}
{% block page_content -%}
<!-- Start of page content for STREAM Info -->
<div class="card-deck">
  <div class="card card-primary card-outline col-12 col-md-8">
    <div class="card-header">
      <h5 class="card-title">Video Stream</h5>
    </div>
    <div class="card-body">
      <img id="stream-img" class="img-fluid" src="{{ video_url }}">
    </div>
    <div class="card-footer">
      {% if stream_state -%}
      <input id="stream-toggle" type="checkbox" checked data-bootstrap-switch data-off-color="danger"
        data-on-color="success">
      {% else %}
      <input id="stream-toggle" type="checkbox" data-bootstrap-switch data-off-color="danger" data-on-color="success">
      {%- endif %}
    </div>
  </div>
  <div class="card card-primary card-outline col-12 col-md-4">
    <div class="card-header">
      <h5 class="card-title">Video Settings</h5>
    </div>
    <div class="card-body">
      <form id="settings-form" role="form" method="POST" action="{{ url_for('stream.stream') }}">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="exposure">Belichtung</label>
              <select class="form-control" name="exposure" id="exposure">
                {% for key, value in exposure_modes -%}
                <option value="{{key}}"{% if key==selected_mode %} selected{% endif %}>{{value}}</option>
                {% endfor -%}
              </select>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-group">
              <label for="whiteness">Weißabgleich</label>
              <select class="form-control" name="whiteness" id="whiteness">
                {% for key, value in white_balance -%}
                <option value="{{key}}"{% if key==selected_white_balance %} selected{% endif %}>{{value}}</option>
                {% endfor -%}
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary" form="settings-form">Übernehmen</button>
    </div>
  </div>
</div>
{%- endblock page_content %}

{%- block scripts %}
{{ super() }}
  <script>
    // Enable Bootstrap Switch
    $('#stream-toggle').bootstrapSwitch();

    // Send Ajax Post when Toggle Button changes
    $('#stream-toggle').on('switchChange.bootstrapSwitch', function (event, state) {
      $.post('/toggle-stream', { state },
        function (response) {
          console.log(response)
          $("#stream-img").attr("src", response);
        });
    });
  </script>
{% endblock scripts -%}